.toolbar {
    width: 100%;
    margin-bottom: 20px;
    padding:10px;
    border-bottom: #c1c1c1;
    box-sizing: border-box;
    text-align: right;
}

.toolbar div {
    padding:10px;
    border: 1px solid #c1c1c1;
    width: auto;
    display: inline-block;
    box-sizing: border-box;
}
